body, html {
	max-width: 360px;
	min-width: 320px;
	margin: initial;
}

#container {
	margin: 5px auto;
	min-width: initial;
	width: 90%;
	padding: 10px;
	margin-bottom: 5px;
	overflow:hidden;
}

.navcentre {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navcentre ul li{
	display: initial;
}

.navcentre ul {
	display: initial;
}

.logo {
	margin: 0px;
}

hr {	
	display: none;
}

/* Mobile Homepage */

.home-content1 {
	display: initial;
	vertical-align: initial;
	margin-top: 50px;
}

.box {
	display: none;
}

.sliderposter { 
	width: 95%; 
	margin-top: 15px;
	margin-left: 8px;
	margin-right: auto;
	border-radius: 5px;
}

.Top10Home {
	display: initial;
	vertical-align: initial;
	width: 95%;
	text-align: center;
	margin-left: 15px;
	font-family: MyriadPro;
	font-size: 125%;
	padding:0px;
}
