/* CSS die van toepassing is op elke pagina */

html { 
	width:100%; 
	height:100%; 
	margin:0 
	padding:0; 
}

body { 
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0; 
}

.top-balk {
	height: 10px;
	width: 100%;
	background-image: url("images/pattern.png");
	background-color: grey;
	margin: 0;
}