html {
	height: 100%
	}

body {
	min-width: 480px;
	height: 100%;
}

.logo {
	display: block; 
	margin-left: auto;
	margin-right: auto;
	padding: 1% 0px 2.5% 0px;
	max-width: 100%;
}

.nav {
	text-align: center;
}

.nav a {
	display: inline-block;
  	font-size: 17px;
  	font-weight: bold;
  	font-family: Arial;
  	padding: 5px 1.5%;
  	text-transform: uppercase;
  	text-decoration: none;
}

.nav li {
  	display: inline;
}
	
.pull-left {
	padding-left: 0px;
}
	
.home-knop, .overzicht-knop, .agenda-knop, .acties-knop, .contact-knop {
	border-radius: 5px;
	color: white;
}

.home-knop {
	background-color: #3C1033; 
}

.overzicht-knop { 
	background-color: #505771;
}
	
.agenda-knop {
	background-color: #6F9983;
}

.acties-knop {
	background-color: #96CE8D;
}
	
.contact-knop {
	background-color: #E79F7A;
}
	
.twitter-timeline {
	width: 200px;
	padding-top: 25px;
	padding-left: 15%;
	display: inline;
}

.contact-tekst {
	font-family: Verdana;
	font-size: 12px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	border-left: 5px solid #E79F7A;
	border-radius: 5px;
	background-color: white;
}
	
.maps {
	border: 2px solid #E79F7A;
	border-radius: 5px;
	width: 45%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
