/* CSS Reset */

html,body {
    margin:0;
    padding:0;
}

/* Lettertypes invoer */

@font-face {
    font-family: Yanone;
    src: url("../fonts/Yanone.otf");
}

@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro.otf");
}

/* Code van elke pagina */

body  {
	font-family: MyriadPro;
	background: linear-gradient(#6d0000, black);
}

#container{
	min-width: 1200px;
	width: 60%;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
}

/*.top-balk, .top-balk2 {
	height: 10px;
	width: 100%;
	margin: 0px;
	background-color: #6d0000;
}*/
	
.navcentre {
	margin:10px auto;
	display:table;
	padding:2px;
	white-space:nowrap;
	height: 60px;
}
.navcentre ul {
	list-style:none;
	margin:0;
	padding:0;
	display:table-row;
	white-space:nowrap;
}

.navcentre ul li{
	display:table-cell;
}

.navcentre ul a{
	display: block;
	padding: 4px 10px;
	text-decoration: none;
	font-family: Yanone;
	font-size: 25px;
	text-transform: uppercase;
	color: black;
}

.navcentre li a:hover{
	border-bottom: 2px solid black;
}

.logo{
	max-height: 100px;
	max-width: 150px;
	margin-right: 400px;
}

.span {
    display: inline-block;
    vertical-align: middle;
}

/* .onderbalk {
	width: 100%;
	height: 50px;
	background-color: #290000;
} */

#film-dropdown {
    border: 0 none;
    font-size: 25px;
    padding: 2px 10px;
    width: 160px;
	font-family: Yanone;
	cursor: pointer; cursor: hand;
	-webkit-appearance: none;
	-moz-win-exclude-glass;
    *width: 350px;
    *background: #58B14C;
}

input[type=search] { 
	border:1px solid #d0d0d0;
	border-radius: 5px;
	background-color:#fcfcfc;
	width: 100px;
	margin-left: 20px;
}

input[type=image] {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

/* Alles wat van toepassing is op de homepage */

@@ -117,7 +122,15 @@ body  {
	font-size:200%
}

.box {
	float: left;
	font-size: 14px;
	text-align: justify;
	width: 280px;
	margin-top: 30px;
	margin-left: 30px;
}

.MidPosterHome{
	display: inline;	
	margin-left: 35px;
	margin-right: 35px;
}

.Top10Home {
	display: inline-block;
	vertical-align: top;
}

.Top10Home ul{
	padding: 0px;
}

.Top10Home h3{
	margin-top: 0px;
	font-size: 130%;
}

.TopListHome{
	font-family: MyriadPro;
	font-size: 165%;
	text-align: justify;
	padding:0px;
}

.home-content1 {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}

/* CSS van toepassing op filmoverzicht */

.filmoverzicht-blok  img{
	width: 214px;
	height: 317px;
	margin: 20px;
	border-radius: 5px;
}

.filmoverzicht-blok  img:hover{
	opacity: 0.6;
}

.filmposters {
	text-align: center;
}

.filmoverzicht-headline {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 18px;
}

/* CSS van toepassing op detailpagina */

#container-detail{
	min-width: 1200px;
	width: 50%;
	height: 1050px;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
}

.kijkwijzer {
	width: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 2px;
}

.rating {
	float: right;
	margin-left: 2px;
	height: 50px;
	margin-top: 8px;
	margin-right: 5px;
}

.filmtitel {
	float: left;
}

.reserveer {
	float: right;
	width: 106px;
	margin-top: 12px;
	margin-right: 15px;
	text-decoration: none;
	font-family: Yanone;
	font-size: 25px;
	text-transform: uppercase;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
}

.beschrijving-film {
	margin-top: 10px;
	float: left;
	}

.films-tekst {
	float: right;
	width: 70%;
	height: 450px;
	margin-bottom: 20px;
}

.detailpagina-poster {
	float: left;
	width: 300px;
	border-radius: 5px;
}

.detailpagina-rij1 {
	height: 500px;
}

.trailer {
	display: block;
	text-align: right;
}

/* .reserveerknop  a{
	font-family: Yanone;
	font-size: 25px;
	text-decoration: none;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 15px;
	text-transform: uppercase;
	width: 200px;
} */




