body {
	min-width: 1024px;
	}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 65px;
	}
	
.nav {
	text-align: center;
	}
	
.nav a {
  font-size: 17px;
  font-weight: bold;
  font-family: Arial;
  padding: 17px 47px;
  text-transform: uppercase;
  display: inline;
  text-decoration: none;
	}

.nav li {
  display: inline;
	}
	
.home-knop, .overzicht-knop, .agenda-knop, .acties-knop, .help-knop {
	border-radius: 5px 5px 0px 0px;
	color: white;
	}

.home-knop {
	background-color: #BB0000; 
	}

.overzicht-knop { 
	background-color: #264273;
	}
	
.agenda-knop {
	background-color: #efb526;
	}

.acties-knop {
	background-color: #1F630B;
	}
	
.help-knop {
	background-color: #9A005B;
	}
	
.tab-balk, .tab-balk2, .tab-balk3, .tab-balk4, .tab-balk5 {
	height: 10px;
	width: 100%;
	}
	
.tab-balk {
	background-color: #BB0000;
	}
	
.tab-balk2 {
	background-color: #264273;
	}
	
.tab-balk3 {
	background-color: #efb526;
	}
	
.tab-balk4 {
	background-color: #1F630B;
	}
	
.tab-balk5 {
	background-color: #9A005B
	}
	
.twitter-timeline {
	width: 200px;
	padding-top: 25px;
	}
	
.carousel {
    width: 100%;
    padding-bottom: 17%;
	height: 200px;
    box-sizing: border-box;
    position: relative;;
	}
