/* CSS Reset */

html,body {
    margin:0;
    padding:0;
	border: 0;
}

/* Lettertypes invoer */

@font-face {
    font-family: Yanone;
    src: url("../fonts/Yanone.otf");
}

@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro.otf");
}

/* Code van elke pagina */

body  {
	font-family: MyriadPro;
	background: linear-gradient(#6d0000, black);
}

#container{
	min-width: 1200px;
	width: 60%;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	min-height: 800px; 
	
}
	
.navcentre {
	margin:10px auto;
	display:table;
	padding:2px;
	white-space:nowrap;
	height: 60px;
}

.navcentre ul {
	list-style:none;
	margin:0;
	padding:0;
	display:table-row;
	white-space:nowrap;
}

.navcentre ul li{
	display:table-cell;
}

.navcentre ul a{
	display: block;
	padding: 4px 10px;
	text-decoration: none;
	font-family: Yanone;
	font-size: 25px;
	text-transform: uppercase;
	color: black;
}

.navcentre li a:hover{
	border-bottom: 2px solid black;
}

.logo{
	max-height: 100px;
	max-width: 150px;
	margin-right: 400px;
}

#film-dropdown {
    border: 0 none;
    font-size: 25px;
    padding: 2px 10px;
    width: 160px;
	font-family: Yanone;
	cursor: pointer; cursor: hand;
	-webkit-appearance: none;
	-moz-win-exclude-glass;
    *width: 350px;
    *background: #58B14C;
}

input[type=search] { 
	border:1px solid #d0d0d0;
	border-radius: 5px;
	background-color:#fcfcfc;
	width: 100px;
	margin-left: 20px;
}

input[type=image] {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

/* Alles wat van toepassing is op de homepage */

@@ -117,7 +122,15 @@ body  {
	font-size:200%
}

.socialmedia {
	margin-bottom: 15px;
	margin-top: 10px;
	margin-left: 30px;
}

.socialmedia div {
	width: 45px;
	height: 45px;
	float: left;
	margin-right: 10px;
}

.twitter{
	background-image:url("../images/twitter.png");
}

.twitter:hover{
	background-image:url("../images/twitter-hover.png");
}

.facebook{
	background-image:url("../images/facebook.png");
}

.facebook:hover{
	background-image:url("../images/facebook-hover.png");
}

.youtube{
	background-image:url("../images/youtube.png");
}

.youtube:hover{
	background-image:url("../images/youtube-hover.png");
}

.box {
	float: left;
	font-size: 14px;
	text-align: justify;
	width: 350px;
	height: 150px;
	margin-left: 30px;
	margin-top: 20px;
}

 .Top10Home ol li a {
	text-decoration: none;
}

.Top10Home ol li a:visited{
	color: black;
}

.Top10Home ol li a:hover{
	color: grey;
}

.Top10Home ol li a:link{
	color: black;
}

.Top10Home ol li a:hover, a:active {
	text-decoration: none; color:grey
}

.sliderposter{
	display: inline;	
	margin-left: 30px;
	margin-right: 35px;
}

.Top10Home {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	font-family: MyriadPro;
	font-size: 120%;
	padding:0px;
}

.Top10Home ol{
	padding: 0px;
	margin-top: 0px;
}

.Top10Home h3{
	margin-top: 0px;
	font-size: 130%;
}

.home-content1 {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}

/* CSS van toepassing op filmoverzicht */

#Sorteerknoppen {
	border: none;
    font-size: 17px;
    padding: 2px 10px;
	font-family: MyriadPro;
	cursor: pointer; cursor: hand;
	-webkit-appearance: none;
	-moz-win-exclude-glass;
    *width: 350px;
    *background: #58B14C;
}
.sorteringsknoppen ul li:hover, .sorteringsknoppen ul li:focus, .sorteringsknoppen ul li:active {
	box-shadow: 0 0 12px #4F0000;
}

.sorteringsknoppen ul li{
	display: inline;
	list-style: none;
	margin: 2px;
	border: 2px solid #4F0000;
	border-radius: 25px;
	padding: 7px;
	text-transform: uppercase;
	font-family: yanone;
	font-size: 21px;
}

.sorteringsknoppen {
	text-align: center;
}

.filmoverzicht-blok  img{
	width: 214px;
	height: 317px;
	margin: 20px;
	border-radius: 5px;
}

.filmoverzicht-blok  img:hover{
	opacity: 0.6;
}

.filmposters {
	text-align: center;
}

.filmoverzicht-headline {
	text-align: center;
	margin-bottom: 35px;
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: yanone;
	font-size: 28px;
}

/* CSS van toepassing op detailpagina */

#container-detail{
	min-width: 1200px;
	width: 50%;
	height: 1000px;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
}

.detailpagina-rij1 {
	height: 75px;
	width: 1183px;
	margin-left: auto;
	margin-right: auto;
}

.detailpagina-rij2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 1181px;
	height: 480px;
}

.kijkwijzer {
	width: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 2px;
}

.detailpagina-titel  h2{
	font-size: 25px;
}

.filmtitel {
	float: left;
}

.reserveer {
	float: right;
	width: 106px;
	margin-top: 12px;
	margin-right: 15px;
	text-decoration: none;
	font-family: Yanone;
	font-size: 25px;
	text-transform: uppercase;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
}

.rating {
	float: right;
	margin-left: 2px;
	height: 50px;
	margin-top: 8px;
	margin-right: 5px;
}

.detailpagina-poster {
	display: inline;
	height: 480px;
	width: 324px;
	margin: 0px;
	padding: 0px;
}

.trailer {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 853px;
}

.beschrijving-film {
	width: 855px;
	float: right; 
}

.detailpagina-rij3 h2{
	margin-top: 0px;
}

.detail-agenda {
	width: 324px;
	float: left;
}

.detail-agenda td{
	text-align: center;
	margin: 5px;
	width: 50px;
	border: 2px solid #c6c3bd;
	height: 25px;
}

.detail-agenda table {
    border: 2px solid black;
    border-collapse: collapse;
	border-radius: 5px;
	background-color: #dcd9d2;
}

.tijd:hover {
	background-color: #c6c3bd;
	cursor: pointer;
}

/* CSS die van toepassing is op de Agenda pagina */

.agendabutton{
	width: 80%;
	margin: 0 auto;
}

.agendabuttons{
	display:inline-block;
	min-width: 100px;
	width: 130px;
	padding:5px 10px;
	border: 2px solid #4F0000;
	border-radius: 25px;
	background: none;
	
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 2px #4F0000;
}

.agendabuttons:hover, .agendabuttons:focus, .agendabuttons:active {
box-shadow: 0 0 12px #4F0000;
}

.AgendaZaal1{
	display: inline-block;
	vertical-align: top;
	width: 28%;
	height: 82%;
	margin-top: 30px;
	margin-left: 20px;
	font-family: MyriadPro;
	font-size: 125%;
	padding:0px;
	border:0px solid red;
}

.AgendaZaal2{
	display: inline-block;
	vertical-align: top;
	width: 28%;
	height: 82%;
	margin-top: 30px;
	margin-left: 55px;
	font-family: MyriadPro;
	font-size: 125%;
	padding:0px;
	border:0px solid blue;
}

.AgendaZaal3{
	display: inline-block;
	vertical-align: top;
	width: 28%;
	height: 82%;
	margin-top: 30px;
	margin-left: 55px;
	font-family: MyriadPro;
	font-size: 125%;
	padding:0px;
	border:0px solid green;
}

.FilmGegevens{
	border: 0px solid black;
	height: 150px;
	margin-bottom: 3px;
}

.FilmTijden{
	border: 0px solid black;
	height: 30px;
	margin-bottom: 10px;
}

.FilmImageAgenda{
	float: left;
	max-width: 100px;
	max-Height: 150px;
	min-Height: 150px;
}

.FilmTekst{
	margin-left: 110px;
	font-size: 80%;
	font-family: MyriadPro;
}

.TijdenButtons{
	border: 2px solid #4F0000;
	border-radius: 25px;
}

.FilmTitel{
	font-size: 125%;
	font-weight: bold;	
}

#container1{
	min-width: 1200px;
	width: 50%;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	height: 1400px;
}

/* CSS die van toepassing is op de contact pagina */
.contact{

}
	
#adres{
	
}

#twitter{
	float:right;
	position: relative;
    top: -350px;
	
}

