#Container{
	min-width: 1200px;
	width: 50%;
    margin: 0 auto;
}

.navcentre {
margin:10px auto;
display:table;
padding:2px;
white-space:nowrap;
}
.navcentre ul {
list-style:none;
margin:0;
padding:0;
display:table-row;
white-space:nowrap;
}

.navcentre ul li{
display:table-cell;
}
.navcentre ul a{
display:block;
padding:4px 10px;
text-decoration:none;
font-family:"fantasy";
}
.navcentre ul a:hover{background:red;color:#fff}

.logo{
	max-height: 100px;
	max-width: 150px;
}

div.box{
	width: 280px;
    text-align: left;
	margin: 10% auto;
}

div.span {
    display: inline-block;
    vertical-align: middle;
}

#box {
	float:left;

}


.MidPosterHome{
	float: right;
	margin: 10% auto;
	padding-right: 6.5%;
	
}

.Top10Home{
	margin: 9% auto;
	float:right;
	top: 25%;
	left: 80%;
}

.TopListHome{
	font-family:fantasy;
	font-size:200%
}

#Onderbalk{

}







