.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 50px;
	}
	
.nav {
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: black;
	}
	
.nav a {
  color: #3c3c3c;
  font-size: 17px;
  font-weight: bold;
  font-family: Arial;
  padding: 17px 45px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
	}

.nav li {
  display: inline;
	}
	
.twitter-timeline {
	width: 200px;
	padding-top: 25px;
	}
	
.carousel {
    width: 100%;
    padding-bottom: 17%;
	height: 200px;
    box-sizing: border-box;
    position: relative;
	border-bottom-style: solid;
	border-bottom-color: black;
	}

#GotG {
	display: inline-block;
	margin-top: 25px;
	margin-right: 300px;
	margin-left: 300px;
	width: 175px;
	height: auto;
	}
	
#TMNT {
	display: inline-block;
	margin-top: 25px;
	margin-right: 150px;
	margin-left: 150px;
	width: 175px;
	height: auto;
	}
